
.tt-dropdown-menu{
  text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 200px;
  height: 22px !important;
  font-size: 16px;
  line-height: normal !important;
  border: 0px solid #ccc;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  width: 250px;
  margin-top: 2px;
  background-color: #fff;
  border: 0px solid #ccc;
  border: 0px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 1px 10px;
  padding-top: 16px;
  font-size: 16px;
  line-height:16px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
